<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Student Directory</title>
</head>
<body>
<div class="container">

    <h3>Student Directory</h3>
    <hr>
    <!-- add button -->

    <a th:href="@{/school/admin/adminAddingStudents}"
       class="btn btn-primary btn-sm mb-3">
        Add Student
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Teacher ID</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempStudent : ${students}">

            <td th:text="${tempStudent.firstName}" />
            <td th:text="${tempStudent.lastName}" />
            <td th:text="${tempStudent.teacher!=null}?${tempStudent.teacher.firstName}:'null'" />
            <td>

              <div class="row">
                  <div class="col-small">
                <form action="#" th:action="@{/school/admin/adminStudentUpdate}" method="POST">
                    <input type="hidden" name="studentId" th:value="${tempStudent.id}">
                    <button type="submit" class="btn btn-info btn-sm">Update</button>
                </form>

                <form action="#" th:action="@{/school/admin/adminStudentDelete}" method="POST">
                    <input type="hidden" name="studentId" th:value="${tempStudent.id}">
                    <button type="submit" class="btn btn-danger btn-sm me-1"
                            onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false">
                        Delete
                    </button>
                </form>

                  </div>
              </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
</body>
</html>